energy
.vscode/
.ipynb_checkpoints/
__pycache__
weights
weight_processed
exp_data
exp_data/*
plots/
data/*
.idea
*.pt
*.png
*.jpg
*.rar
*.xlsx
*.TXT
*.npy
*.npz
*.zip
*.pyc
*.pdf
cd
mul_out_visual
mul_out_visual/*
logs/*
exp_data_plots
exp_data_plots/*